.peg{
    margin: 5px auto;
    width: 50%;
}
.titlePeg{
margin-bottom:20px ;
}
.movisSearch{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text{
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}